.colored1{
    background-color: #ffbaad !important;
    padding: 5px;
    margin-top: 5px;
}

.colored2{
    background-color: #9eed8e !important;
    padding: 5px;
    margin-top: 5px;
}

.colored3{
    background-color: #edadf7 !important;
    padding: 5px;
    margin-top: 5px;
}

